<!-- Footer custom content area start -->
<!--
Insert any custom code web-analytics, resources, etc. here
-->
<!-- Footer custom content area end -->

<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/bigfoot.js"></script>
<script type="text/javascript">
    $.bigfoot();
</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script> 
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>