<!-- Footer custom content area start -->
<!--
Insert any custom code web-analytics, resources, etc. here
-->
<!-- Footer custom content area end -->

<script
  src="https://unpkg.com/littlefoot/dist/littlefoot.js"
  type="application/javascript"
></script>
<script type="application/javascript">
  littlefoot.littlefoot() // Pass any littlefoot settings here.
</script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script> 
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>